@import "stylesheet.scss";

.sideBar{
    background-color: #353644;
    height: 100%;
}

.hr_style{
    background-color: #424351;
    border: none;
    height: 1px;
}

.home_container{
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.main{
    width: 100%;
}
.sideBar_Container{
    text-align: left;
    color:$white;
    padding: 16px;
}

.btn_charge{
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}
.btn_show_deposit{
    font-weight: 700;
    color: #fff;
    background-color: $gray!important;
    cursor: pointer;
}

.user_title{
    font-size: 14px;  
    margin-bottom: 16px;
}
.user_sub_f{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #B7B9C9;
}

.user_sub_v{
    font-weight: 700;
    font-size: 14px;    
}

.user_logout{
    color: #9395A6;
    font-size: 10px;
    text-align: center;
}

.menu_el{
    font-weight: 600;
    color: #B7B9C9;
    padding: 16px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
