
@import "stylesheet.scss";

.header {
    position: relative;
    height: 80px;
    background-color: $white;
    border-bottom: 1px solid $white-smoke;

    .header_contents{
        background-color: $white;
        position: relative;
        width: 1130px;
        height: 80px;
        margin: 0 auto;
        padding: 0 30px;
        text-align: left;
    
        .logo {
            position: absolute;
            width: 74px;
            height: 32px;
            top: 24px;
        }
    }
}

.top_frame {
    position: relative;
    height: 360px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    background: linear-gradient(0deg,#DFECFF,#DFECFF),radial-gradient(112.08% 709.53% at 31.62% 18.19%,#A0C6FF 0%,#E5DFFE 100%);
    text-align: left;
}
.bottom_frame {
    position: relative;
    height: 580px;
    background-color: #f8f8fb;
    text-align: left;
}
.footer_frame {
    position: relative;
    height: 116px;
    background: #f3f4fa;
    z-index: 10;
    text-align: left;

    > .main_contnet {
        position: relative;
        width: 1130px;
        margin: 0 auto;
        padding: 24px 30px;
        > .footer_f_group {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 16px;
            > .bg-footerLogo {
                width: 57px;
                height: 24px;
                background: url(/img/login/landing.png) -300px -86px;
                background-size: 376px 288px;
                display: inline-block;
                margin-right: 16px;
            }
        }
        .footer_font_bold {
            font-weight: 700;
        }
    }

    .footer_s_group {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .footer_font {
        font-family: pretendard;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -.02em;
        color: #9395a6;
        margin: 0;
    }
    .footer_btn {
        height: 24px;
        border: 1px solid #e4e6f0;
        border-radius: 4px;
        font-weight: 500;
        font-size: 10px;
        color: #9395a6;
        margin-right: 5px;
    }

    .footer_font_sub {
        font-size: 10px;
        line-height: 12px;
        color: #9395a6;
    }

}

.main_contnet{
    position: relative;
    width: 1130px;
    margin: 0 auto;
    padding: 24px 30px;
}

.title_font {
    font-family: pretendard;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -.02em;
    color: #353644;
}

.mid_line {
    position: absolute;
    width: 71px;
    height: 0;
    left: 132px;
    top: 44px;
    border: 1px solid #353644;
}

.title_font.bold {
    font-weight: 700;
    margin-bottom: 20px;
}
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.box_layout {
    position: relative;
    display: inline-block;
    width: 145px;
    height: 190px;
    background: #fff;
    border: 1px solid rgba(255,255,255,.1);
    box-shadow: 8px 18px 40px -18px rgba(72,92,142,.3);
    border-radius: 16px;
    margin-right: 16px;
    vertical-align: bottom;
    padding: 16px;

    p {
        font-family: pretendard;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -.02em;
        color: #9395a6;
        margin-bottom: 8px;
        margin-top: 0;

        
    }

    p.title{
        font-size: 16px;
        line-height: 20px;
        color: #353644;

        span.highlight {
            color: #63a1ff;
        }
    }

    p.content {
        font-family: pretendard;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -.1em;
        color: #353644;
        opacity: .6;
        margin-bottom: 0;
    }


    i {
        position: absolute;
        right: 5px;
        bottom: 5px;
        display: inline-block;
        width: 72px;
        height: 72px;
    }
}


.bg-wh_0 {
    display: inline-block;
    width: 194px;
    height: 25px;
    background: url(/img/login/landing.png) -96px -39px;
    background-size: 376px 288px;
}
.bg-wh_1 {
    background: url(/img/login/landing.png) -5px -86px;
    background-size: 376px 288px;
}
.bg-wh_2 {
    background: url(/img/login/landing.png) -300px -5px;
    background-size: 376px 288px;
}
.bg-wh_3 {
    background: url(/img/login/landing.png) -87px -86px;
    background-size: 376px 288px;
}
.bg-wh_4 {
    background: url(/img/login/landing.png) -168px -86px;
    background-size: 376px 288px;
}
.bg-yak_0 {
    display: inline-block;
    width: 194px;
    height: 25px;
    background: url(/img/login/landing.png) -96px -5px;
    background-size: 376px 288px;
}
.bg-yak_1 {
    background: url(/img/login/landing.png) -5px -168px;
    background-size: 376px 288px;
}
.bg-yak_2 {
    background: url(/img/login/landing.png) -87px -168px;
    background-size: 376px 288px;
}
.bg-yak_3 {
    background: url(/img/login/landing.png) -5px -5px;
    background-size: 376px 288px;
}
.bg-yak_4 {
    background: url(/img/login/landing.png) -169px -168px;
    background-size: 376px 288px;
}
.bg-call_icon {
    width: 16px;
    height: 16px;
    background: url(/img/login/landing.png) -330px -120px;
    background-size: 376px 288px;
    display: inline-block;
    vertical-align: middle;
}
.bg-fax_icon {
    width: 16px;
    height: 16px;
    background: url(/img/login/landing.png) -300px -150px;
    background-size: 376px 288px;
    display: inline-block;
    vertical-align: middle;
}
.bg-mail_icon {
    width: 16px;
    height: 16px;
    background: url(/img/login/landing.png) -352px -150px;
    background-size: 376px 288px;
    display: inline-block;
    vertical-align: middle;
}
.bg-first_visit {
    width: 109px;
    height: 33px;
    background: url(/img/login/landing.png) -5px -250px;
    background-size: 376px 288px;
    display: inline-block;
}
.bg-news_icon {
    width: 20px;
    height: 20px;
    background: url(/img/login/landing.png) -300px -120px;
    background-size: 376px 288px;
    display: inline-block;
    vertical-align: text-bottom;
}
.bg-left {
    width: 18px;
    height: 18px;
    background: url(/img/login/landing.png) -326px -150px;
    background-size: 376px 288px;
    display: inline-block;
}
.bg-right {
    width: 18px;
    height: 18px;
    background: url(/img/login/landing.png) -300px -176px;
    background-size: 376px 288px;
    display: inline-block;
}
.bg-dot {
    width: 4px;
    height: 4px;
    background: url(/img/login/landing.png) -367px -86px;
    background-size: 376px 288px;
    display: inline-block;
}
.bg-dot.active {
    background-position: -367px -100px;
}

.login_container{
    padding: 50px 24px;
    position: absolute;
    left: 810px;
    top: -1px;
    width: auto;
    height: 220%;
    background-color: #fff;
    z-index: 5;

    font-family: pretendard;
    font-style: normal;
    font-weight: 700;
    
    line-height: 40px;
    letter-spacing: -.02em;
    color: #353644;
}

.contact_us {
    padding: 16px;
    gap: 16px;
    width: 240px;
    background: #fbfbfd;
    border-radius: 16px;

    >p {
        font-family: pretendard;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -.02em;
        color: #626474;
        margin-bottom: 0;
        margin-top:0;
    }
    >p.core {
        font-weight: 600;
        font-size: 14px;
        color: #353644;
    }
    >div {
        height: 16px;
    }
    >p.sub {
        font-weight: 500;
        font-size: 12px;
        color: #9395a6;
    }

}

.input-box {
    position: relative;
    margin-bottom: 5px;
}

.login_container .input_label {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #b7b9c9;
    margin: 0 0 5px;
}
#loginForm  input{
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0px;
    box-shadow: none;
    font-size: 1.3rem;
    font-family: snow;
    background-color: rgba(0,0,0,0);
    color: white;
}

.login_container #loginForm input#autoCompleteId {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}

#loginForm .sub_font, #loginForm .sub_font>a {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

#loginForm .sub_font>a {
    color: #9395a6;
    text-decoration: none;
}

#loginForm .sub_font>a:hover {
    font-weight: bold;
}
#loginForm>button {
    font-family: pretendard;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -.02em;
    color: #fff;
}

.newsletter {
    padding: 16px;
    width: 730px;
    height: 140px;
    background: #f3f4fa;
    border: 1px solid #e4e6f0;
    border-radius: 16px;
    > div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 8px;
    }
}
#slide>i {
    vertical-align: middle;
    cursor: pointer;
    margin: 2px;
}
.error{
    color: red;
    font-size: 13px;
}