SERVER/static/jdbc.js
SERVER/node_modules
SERVER/logs
SERVER/.env
SERVER/client/.env

YAKOLLYEO/static/jdbc.js
YAKOLLYEO/node_modules
YAKOLLYEO/logs
YAKOLLYEO/.env
YAKOLLYEO/client/.env
YAKOLLYEO/client/build

turup/static/jdbc.js
turup/node_modules
turup/logs
turup/.env
turup/build

API/static/jdbc.js
API/node_modules
API/logs
API/.env
API/build